.title-container
  background: rgba(0,0,0,0.1)
  overflow: hidden
  margin-bottom: 30px
  border-bottom: 1px solid #324b60
.mobile-hidden
  @media only screen and (max-width: 768px)
    display: none
.Fortnite
  padding: 150px 5% 40px 5%
  background: #01182c
  .rank-box
    background: #122b40
    border: 2px solid #324b60
    color: #ffffff
    overflow: hidden
    margin-bottom: 10px
    .mmr
      margin: 12px 20px
      font-size: 24px
      font-family: 'Nunito Sans'
      .mmr-label
        font-size: 14px
        color: #b5b5b5
    .rank-class
      padding: 7px 50px 7px 50px
      font-size: 32px
      font-weight: 700
      display: inline-block
      margin-left: -30px
      transform: skewX(-45deg)
      background: rgba(255, 255, 255, 0.2)
      .rank-content
        transform: skewX(45deg)
    .rank-label
      font-size: 14px
      color: #b2b2b2
    .rank-stat
      font-size: 32px
      line-height: 32px
      margin-bottom: 10px
    .border-bottom
      border-bottom: 1px solid #324b60
      padding-bottom: 20px
      h3
        margin: 0 auto 15px auto
        text-align: center
        font-size: 32px
      .rank-label
        margin-top: 10px
      .col-xs-6
        padding: 0
    .mobile-stats
      padding-top: 20px
    img
      max-width: 100%
    .rank-name
      margin-bottom: 20px
      font-size: 24px
      font-weight: 700
  .recent
    background: #122b40
    color: #ffffff
    border: 2px solid #324b60
    overflow: hidden
    .recent-title
      padding: 7px 40px 7px 50px
      margin-left: -30px
      font-size: 32px
      background: rgba(255, 255, 255, 0.2)
      transform: skewX(-45deg)
      display: inline-block
      .recent-content
        transform: skewX(45deg)
    .recent-stats
      padding: 0 35px 20px 35px
      .row
        margin-bottom: 3px
        background: rgba(255,255,255,0.2)
        .col-xs-3
          padding: 5px 10px
          .recent-full
            font-size: 32px
          .recent-label
            font-size: 14px
            color: #b3b3b3
          .recent-stat
            font-size: 24px
            line-height: 24px
            &.positive
              color: #4cae4c
            &.negative
              color: #d9534f
    @media only screen and (max-width: 768px)
      margin-bottom: 5px
      .recent-title
        font-size: 28px
      .recent-stats
        padding: 0 25px 20px 25px
        .row
          .col-xs-3
            padding: 5px 5px
            .recent-full
              font-size: 24px
              line-height: 40px
            .recent-label
              font-size: 12px
            .recent-stat
              font-size: 16px
  .stat-boxes
    padding: 0
    margin-bottom: 20px
    .stat-box
      border: 1px solid #aaaaaa
      .statbox-title
        padding: 5px 15px
        font-size: 24px
        color: #ffffff
        &.solo
          background: #d9534f
        &.duo
          background: #1b6d85
        &.squad
          background: #4cae4c
      .row
        background: #f2f2f2
        padding: 5px 0
        font-size: 16px
        &:nth-child(odd)
          background: #e2e2e2
  .top-bar
    height: 70px
    position: fixed
    top: 45px
    width: 100%
    left: 15px
    background: #122b40
    border: 1px solid #324b60
    z-index: 5
    .name
      margin-top: 10px
      color: #ffffff
      font-size: 36px
    .stat-label
      color: #a2a2a2
      margin-top: 7px
    .stat
      color: #f2f2f2
      font-size: 28px
      margin-top: -5px
    .btn
      width: 100%
      height: 68px
      margin-right: -15px
      font-size: 22px
  .buttons
    margin-bottom: 15px
    .btn
      margin-right: 5px
  .matches
    .match-header
      padding: 7px 14px
      font-size: 16px
      border-bottom: 2px solid #000000
    .match
      cursor: pointer
      padding: 7px 14px
      background: #f2f2f2
      color: #121314
      margin-bottom: 2px
      &:nth-child(odd)
        background: #e3e3e3
      &:hover
        background: #d5d5d5
  .heatmap
    width: 750px
    height: 690px
    margin: 40px auto
    position: relative
    img
      width: 100%
      position: absolute
      left: 0
      right: 0
      height: 100%
      z-index: 1
      opacity: 0.7
    > div
      position: relative
      z-index: 2
  .match-form
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.9)
    z-index: 200
    .match-header
      background: #122b40
      color: #ffffff
      border-bottom: 1px solid #232425
      padding: 5px 20px
      .match-label
        color: #a2a2a2
        font-size: 12px
        margin: 0
      .match-text
        font-size: 24px
        margin-top: -3px
    &.fade
      left: -15000px
      &.in
        left: 0px
    .the-match
      max-width: 600px
      width: 90%
      margin: 2% auto
      img
        max-width: 100%
    form
      background: #ffffff
      border: 1px solid #aaa
      padding-top: 10px
      max-width: 600px
      width: 90%
      margin: 2% auto
      h2
        text-align: center
      label
        display: block
      input
        padding: 6px 12px
        margin-bottom: 10px
        width: 100%
      img
        width: 100%
        margin-bottom: 10px
      .dropdown
        width: 100%
      .btn
        width: 100%
      .form-btn
        padding: 10px 20px
        font-size: 24px
      .coords
        margin-bottom: 10px
        .btn
          width: auto
    .image-coords, .image-coords2
      position: relative
      .click-space
        z-index: 10
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        cursor: pointer
      img
        position: relative
      .marker
        position: absolute
        width: 30px
        z-index: 3
        height: 30px
        border-radius: 50%
        font-size: 30px
        svg
          margin-top: -17px
          margin-left: -1px
          text-shadow: 2px 2px #000000
        &.plane_start, &.plane_start2
          color: #fff
          font-size: 20px
          svg
            margin-top: -5px
            margin-left: 5px
        &.plane_end, &.plane_end2
          color: #ff22cc
        &.drop
          color: #22ff88
          svg
            margin-top: -30px
        &.end
          color: #f9534f
  .showing
    margin: 20px -15px
  .player-boxes
    cursor: pointer
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    &:hover
      box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)
    &.active
      box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)
  .charts
    margin-top: 20px
    text
      stroke: #ffffff
    .col-sm-12
      .chart-cont
        border: 2px solid #324b60
        background: #122b40
        .chart-options
          background: rgba(0,0,0,0.1)
          overflow: hidden
          border-bottom: 1px solid #324b60
          margin-bottom: 20px
          color: #ffffff
          .slant
            padding: 10px 25px
            display: inline-block
            font-size: 18px
            background: rgba(255,255,255,0.1)
            cursor: pointer
            transform: skewX(-15deg)
            margin-right: 3px
            &:first-child
              margin-left: -10px
              padding-left: 45px
            &:hover
              background: rgba(255,255,255,0.2)
            &.active
              background: rgba(200,120,70,0.7)
            .slant-content
              transform: skewX(15deg)
            &.re
              transform: skewX(15deg)
              &:first-child
                margin-left: 0
                padding-left: 25px
              &:last-child
                margin-right: -10px
                padding-right: 45px
              .slant-content
                transform: skewX(-15deg)
          @media only screen and (max-width: 768px)
            .slant
              padding: 7px 12px
              &:first-child
                margin-left: -10px
                padding-left: 25px
            .pull-right
              display: block
              margin-top: 10px
              .slant
                font-size: 14px
                &:first-child
                  margin-left: 0
                  padding-left: 25px
                &:last-child
                  margin-right: -10px
                  padding-right: 25px
        .chart-container
          padding: 0 25px 10px 15px
          height: 300px
          @media only screen and (max-width: 768px)
            padding: 0 10px 10px 0
  .rank-bar
    background: rgba(0,0,0,0.2)
    padding: 15px 0 20px 0
    border-top: 1px solid rgba(0,0,0,0.3)
    .rank-images
      position: relative
      margin: 0 20px
      height: 15px
      .start-image
        width: 50px
        position: absolute
        left: 0
        top: 0
      .end-image
        width: 50px
        position: absolute
        right: 0
        top: 0
    .bar
      margin: 0 45px 10px 45px
      height: 20px
      border: 1px solid #1b6d85
      background: rgba(0,0,0,0.2)
      .fill
        height: 18px
        background: #31b0d5
        display: inline-block
.FortniteStats
  background: #01182c
  padding: 70px 0 40px 0
  .player
    box-shadow: 0 1px 3px rgba(15,90,160,0.12), 0 1px 2px rgba(15,90,160,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)
    background: rgba(5, 40, 70, 0.8)
    border: 2px solid #324b60
    margin: 15px 0
    color: #f9f9f9
    &:hover
      box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22)
      background: rgba(7, 55, 100, 0.8)
    .player-name
      font-size: 32px
      font-weight: 700
      padding: 7px 50px 7px 50px
      display: inline-block
      margin-left: -30px
      transform: skewX(-45deg)
      background: rgba(255,255,255,0.1)
      .player-content
        transform: skewX(45deg)
    .title-container
      margin-bottom: 0
    .rank-container
      padding: 0 20px
    .fn-label
      text-align: center
      font-size: 24px
      font-weight: 700
      margin-top: 5px
    .fn-diff
      font-size: 12px
      font-family: 'Nunito Sans'
      text-align: center
    img
      max-width: 100%
    .container
      .col-xs-4
        padding: 20px 15px
        &:not(:last-child)
          border-right: 1px solid #324b60
        &.align-right
          border: 0
        .fn-stat
          font-size: 28px
    @media only screen and (max-width: 768px)
      .rank-container
        padding: 0
.ranks
  img
    width: 75px

